Follow these coding style guidelines:
Use tabs instead of spaces. The tabs should be 4 spaces wide.
Use snake case.
Use a c_ in front of classes.
Use a m_ in front of member variables.
Put open braces their own new line.

The repository for this project is at https://github.com/shoejunk/atomic_engine.git
Use the main branch, not master

Run generate.bat when you need to generate project files.
Run build.bat when you need to build.
Run run.bat when you need to run.
Run build_debug.bat when you need to build in debug mode.
Run debug.bat when you need to run in debug mode.
Run build_release.bat when you need to build in release mode.
Run release.bat when you need to run in release mode.
